node_modules
dist
out
coverage
test/**/dist
!test/unit/paypal-js-sdk-v6/node_modules/@paypal/paypal-js/dist/
!test/unit/paypal-js-sdk-v6/node_modules/@paypal/paypal-js/dist/**
test/**/actual.js
yarn.lock
package-lock.json
ffmpeg-version-diff
